/*
 * custom.css
 * ~~~~~~~~~
 *
 * Sphinx stylesheet -- custom theme.
 *
 * :copyright: Copyright 2007-2013 by the Mirantis Inc.
 *
 */

/* -- general body styles --------------------------------------------------- */

p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times}
li[class*='toctree-'] {list-style-type: none;}

/* -- admonitions ----------------------------------------------------------- */

.highlight-bash {background-color: #eeffcc}
.inline-code {background-color: #fff; font-size: 120%;}
.download {font-size:120%; font-weight: normal}

.conventions {border-style: solid; border-width: 1px}
.important {border-color: #f66}
.checkpoints {border-color: #009900}
.notes {border-color: #FFCC66;}
.references {border-color: #AAAAAA;}

.conventions .admonition-title {background: url(../_images/checkpoint.png) no-repeat 0 0; display: block; line-height: 40px;}
.important .admonition-title {background-image: url(../_images/important.bmp); padding-left: 40px;}
.checkpoints .admonition-title {padding-left: 40px;}
.notes .admonition-title {background-image: url(../_images/notes.gif); padding-left: 40px;}
.references .admonition-title {background-image: url(../_images/references.bmp); padding-left: 40px;}

/* -- tables ---------------------------------------------------------------- */

table.docutils {
    border: 1px solid #aaa;
    border-collapse: collapse;
    width: 90%
}

table.borderless {
    border: 0;
    border-collapse: collapse;
}

table.docutils td, table.docutils th {
    padding: 1px 8px 1px 5px;
    border-top: 0;
    border-left: 1px solid #aaa;
    border-right: 0;
    border-bottom: 1px solid #aaa;
    line-height:150%;
}

table.borderless td, table.borderless th {
    padding: 1px 8px 1px 5px;
    border: 0;
}

th {
    text-align: center;
    padding-right: 5px;
    background-color: #aaa;
    font-weight:normal;
}

/* -- other body styles ----------------------------------------------------- */

/* -- printout stylesheet --------------------------------------------------- */

@media print {
    div.document,
    div.documentwrapper,
    div.bodywrapper {
        margin: 0 !important;
        width: 100%;
    }

    div.sphinxsidebar,
    div.related,
    div.footer,
    #top-link {
        display: none;
    }
}
